.popup {
	width: 200px;
	padding: 5px;
	position: absolute;
	left: 0;
	top: 0;
	height: fit-content;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	font-family: Impact;
	opacity: 0.01;
	border: 2px solid #2b2a2a;
	border-radius: 10px;
	box-shadow: 5px 5px 20px #2b2a2a;
	transform: translate(-50%, -50%);
}

.test {
	position: absolute;
	top: 20%;
	left: 20%;
	font-size: large;
	color: aqua;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
